body {
  background-color: black;
}

#header-logo {
  width: 90%;
  height: 100%;
  margin-top: 10%;
  margin-bottom: 200px;
}

.center-text {
  display: flex;
  justify-content: center;
}

#about-text {
  color: whitesmoke;
  margin-top: 400px;
  font-size: 30px;
}

#about-text > p {
  margin: auto 200px 300px 200px;
}
